body {

    font-family: Arial, sans-serif;

    background: #f3f3f3;

    padding:20px;

}


.container {

    max-width:400px;

    margin:auto;

}


.card {

    background:white;

    padding:20px;

    border-radius:15px;

    box-shadow:0 3px 10px #ccc;

}

.logo {

    width:40px;

    height:40px;

    vertical-align:middle;

}
h1 {

    text-align:center;

}


label {

    display:block;

    margin-top:15px;

}


input, select {

    width:100%;

    padding:10px;

    margin-top:5px;

    box-sizing:border-box;

}


button {

    width:100%;

    margin-top:20px;

    padding:15px;

    background:#2E7D32;

    color:white;

    border:none;

    border-radius:10px;

    font-size:16px;

}


#mensagem {

    text-align:center;

    color:green;

}
